body {
    margin: 0;
}

.full-width {
    width: 100%;
}

.table-bg {
    width: 100%;
    height: 100vh;
    background-image: url('./src/assets/full_empty.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.laptop-wrapper {
    position: absolute;
    bottom: 244px;
    left: calc(50% - 340px);
}

.laptop {
    position: relative;
    width: 672px;
    /* display: none;*/
}

.mic-wrapper {
    position: absolute;
    top: 272px;
    left: calc(50% - 540px);
}

.mic {
    position: relative;
    width: 183px;
    /* display: none;*/
}

.scale-on-hover {
    transition: transform ease 0.5s;
    cursor: pointer;
}

.scale-on-hover:hover {
    transform: scale(1.05);
}